body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

svg {
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}
rect.canvas {
	fill: #eee;
	opacity: .3;
}

.axis path,
.axis line {
	fill: none;
	stroke: #999;
}

line.zero {
	stroke-width: 2;
	stroke: blue;
}

.point {
	fill: red;
}
.graphic {
	opacity: .7;
	fill: #eee;
	stroke: red;
	stroke-width: 1;
}
rect.graphic, line.graphic {
	stroke-width: 2.5;
}

.inputs {
	height: 100px;
}
.input-category {
	float: left;
	margin-right: 10px;
	padding-left: 10px;
	height: 100%;
	border-left: 1px solid black;
}
.input-category:first-child {
	border: none;
}
.input-field span {
	display: inline-block;
	width: 110px;
}
.input-field span.inline {
	display: inline;
}