svg {
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}
rect.canvas {
	fill: #eee;
	opacity: .3;
}

.axis path,
.axis line {
	fill: none;
	stroke: #999;
}

line.zero {
	stroke-width: 2;
	stroke: blue;
}

.input-field span {
	display: inline-block;
	width: 100px;
}

.point-center {
	fill: red;
}
circle.graphic {
	opacity: .7;
	fill: #eee;
	stroke: red;
	stroke-width: 1;
}